.c-nav {
    color: color(light, 95);
    &__link {
        text-decoration: none;
        position: relative;

        transition: 0.2s ease all;

        &:after {
            position: absolute;
            content: "";
            height: 0.125em;
            bottom: -4px;
            border-radius: 50px;

            left: 0;
            right: 0;
            width: 0%;
            background: color(light, 15);
            will-change: background, width;
            mix-blend-mode: overlay;

            transition: 0.2s ease all;
        }

        &:hover:after,
        &--selected:after {
            width: 100%;
            background: color(light, 75);
        }
        &:hover{
            color:color(light,75);
            // mix-blend-mode: overlay;
        }
    }
    &__toggle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease all;
        cursor: pointer;
        &:after {
            position: absolute;
            content: "";
            height: 4em;
            border-radius: 50px;
            // left: 0;
            // right: 0;
            // top:1px;
            margin-top: 1px;
            width: 4em;
            background: color(light, 15);
            will-change: background, transform;
            mix-blend-mode: overlay;

            transition: 0.2s ease all;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            
        }
        // &:hover:after,
        &--selected:after {
            background: color(light, 35);
            transform: scale(1);
        }
        &:hover,&--selected{
            color:color(light,75);
            // mix-blend-mode: overlay;
        }
    }
}
.c-navigation {
    max-width: 400px;
    color: color(dark, 85);
    background: color(light, 15);
    position: absolute;
    height: 100vh;
    z-index: 1001;
    width: 16rem;
    // transform: translateX(-100%);

    // min-width:200px;
}
