.c-nav {
    color: color(light, 95);
    position: fixed;
    // width: 100%;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in;
    will-change: background, padding, font-size;
    background: color(light, 0);
    overflow:hidden;
    &--active {
        backdrop-filter: blur(2em);
        background: color(light, 10);
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 0.75em;
        // transform: scale(.9);
        // right: 3em;
        // left: 3em;
        // top:2em;
        transform-origin: bottom;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }
    z-index: 40;
    &__link {
        text-decoration: none;
        position: relative;

        transition: 0.2s ease all;

        &:after {
            position: absolute;
            content: "";
            height: 0.125em;
            bottom: -4px;
            border-radius: 50px;

            left: 0;
            right: 0;
            width: 0%;
            background: color(light, 15);
            will-change: background, width;
            mix-blend-mode: overlay;

            transition: 0.2s ease all;
        }

        &:hover:after,
        &--selected:after {
            width: 100%;
            background: color(light, 75);
        }
        &:hover {
            color: color(light, 75);
            // mix-blend-mode: overlay;
        }
    }
    &__toggle {
        // position: fixed;
        // display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease all;
        cursor: pointer;
        &:after {
            position: absolute;
            content: "";
            border-radius: 50px;
            // left: 0;
            // right: 0;
            // top:1px;
            margin-top: 1px;
            height: 3.5em;
            width: 3.5em;
            background: color(light, 15);
            will-change: background, transform;
            mix-blend-mode: overlay;

            transition: 0.2s ease all;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(0);
        }
        // &:hover:after,
        &--selected:after {
            background: color(light, 35);
            transform: scale(1);
        }
        &:hover,
        &--selected {
            color: color(light, 75);
            // mix-blend-mode: overlay;
        }
    }
}
.c-navigation {
    max-width: 400px;
    color: color(dark, 85);
    background: color(light, 15);
    position: absolute;
    height: 100vh;
    z-index: 50;
    width: 16rem;
    // transform: translateX(-100%);

    // min-width:200px;
}
