@import "../settings/colors.scss";

.c-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--dark400);
  font-size: 0.825rem;
  &__dot {
    min-height: 8px;
    min-width: 8px;

    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 0 4px;
    &:last-child {
      margin-right: 1rem;
    }
  }
}
