@import "../settings/colors.scss";

.c-label {
  &-holder {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 0.75rem;
  }
  display: grid;
  background-color: var(--dark200);
  border-radius: 50px;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  cursor: pointer;
  transition: background 0.2s ease-out;
  fill: var(--light);
  text-align: center;

  &--round {
    padding: 0.5rem;
  }
  &__icon {
    margin: -0.5rem;
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    stroke: var(--text-color);
    transition: transform 0.2s ease-out;
    transform: rotate(-90deg);
    &--rotate {
      transform: rotate(90deg);
    }
  }
  &__dropdown {
    position: absolute;

    z-index: 11;
    right: 1rem;
    margin-top: -1rem;

    max-height: 20rem;

    &--hidden {
      display: none;
    }
    display: flex;
    flex-direction: column;

    background: var(--dark200);
    border-radius: 4px;
    @include fadeIn;
    &-title {
      cursor: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      box-sizing: border-box;
      width: 100%;
      font-family: $Sohne-Halbfett;
      font-size: 0.925rem;
      span {
        width: 2rem;
        font-size: 0.75rem;
        font-family: $Sohne-Buch;
        color: var(--dark400);
        margin-left: 0.5rem;
      }
      &--label {
        margin: 0;
      }
      &-sm {
        font-size: 0.75rem;
        font-family: $Sohne-Buch;
        cursor: pointer;
        text-decoration: underline;
        padding: 12px 8px 8px;
        color: var(--blue100);
      }
    }
    &-item {
      width: 100%;
      &-holder {
        overflow-y: scroll;
      }
      display: flex;
      justify-content: flex-start;

      //   background-color: map-get($primary-colors,blue500);
      gap: 0.5rem;
      cursor: pointer;
      align-items: center;
      &__checkboxLabel {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.625rem 1rem 0.625rem 1rem;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
      }
      &__checkboxLabel::before {
        content: "";
        width: 0.825rem;
        height: 0.825rem;
        background: var(--checkboxcolor);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__checkbox {
        width: 100%;
        &:checked + .c-label__dropdown-item__checkboxLabel::before {
          background: var(--blue100);
        }
      }
      &__title {
        // width: auto;
        // margin-left: 2rem;
        //   color:red;
      }
    }
  }
}

@media (hover) {
  .c-label:hover,
  .c-label--selected {
    background-color: var(--blue100);
  }
  input[type="checkbox"]:checked + .c-label:hover {
    background-color: var(--blue500);
  }
  .c-label__dropdown-title-sm:hover {
    color: var(--dark400);
  }
}

input[type="checkbox"]:checked + .c-label {
  background-color: var(--blue100);
  color: white;
}
