@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);
    }
}

.fadeIn {
    opacity: 1;
    animation: fadeIn 0.2s ease-in-out;
}

.fadeOut {
    opacity: 0;
    animation: fadeOut 0.2s ease-in-out;
}

.slideInLeft {
    transform: translateX(0);
    animation: slideInLeft 0.2s ease-in-out;
}

.slideOutLeft {
    transform: translateX(-100%);
    animation: slideInLeft 0.2s ease-in-out;
}
